.maindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid black;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.maindiv input{
  margin-bottom: 15px;
}

.maindiv p {
  margin-top: 10px;
  font-size: 14px;
}
